[submodule "vtkmofo"]
	path = vtkmofo
	url = ../../nrc-fuels/vtkmofo
	branch = master
[submodule "json-fortran"]
	path = json-fortran
	url = ../../nrc-fuels/json-fortran
[submodule "metis"]
	path = metis
	url = ../../nrc-fuels/metis
	branch = master
[submodule "psblas"]
	path = psblas
	url = ../../nrc-fuels/psblas3
	branch = add-cmake-scripts
[submodule "opencoarrays"]
	path = OpenCoarrays
	url = ../../sourceryinstitute/OpenCoarrays
[submodule "netcdf4"]
	path = netcdf4
	url = ../../Unidata/netcdf-c
[submodule "exodus"]
	path = exodus
	url = ../../gsjaardema/seacas
	branch = v2020-01-16
